.titleInput {
  background-color: white;
  color: black;
  font-size: 14;
  border: none;
  border-width: 1px;
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  width: 400px;
  align-self: center;
}

.titleInputWrapper {
  display: flex;
  padding: 1em;
  background-color: #e6e9f1;
  border-radius: 5px;
  width: fit-content;
  align-self: center;
}

.categoryFormOne {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.categoryFormTwo {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.categoryInput {
  background-color: white;
  color: black;
  font-size: 14px;
  border: none;
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  width: 430px;
  margin-bottom: 15px;
}

.leftItemInput {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  width: 200px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.rightItemInput {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  width: 200px;
  margin-left: 5px;
  margin-bottom: 15px;
}

@media (max-width: 40rem) {
  .titleInputWrapper {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #e6e9f1;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
  }
  
  .categoryFormOne {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    padding-bottom: 0px;
  }

  .categoryFormTwo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    padding-top: 0px;
  }

  .titleInput {
    background-color: white;
    color: black;
    font-size: 1em;
    border: none;
    border-width: 1px;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    width: 18em;
    align-self: center;
  }

  .categoryInput {
    background-color: white;
    color: black;
    font-size: 1em;
    border: none;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    width: 18em;
    margin-bottom: 15px;
  }

  .leftItemInput {
    background-color: white;
    color: black;
    font-size: 1em;
    border: none;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    width: 18em;
    margin-bottom: 15px;
    margin-right: 0px;
  }

  .rightItemInput {
    background-color: white;
    color: black;
    font-size: 1em;
    border: none;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    width: 18em;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .note {
    padding: 10px;
  }
}
